.banner {
  height: 400px;
  position: relative;
}

.media {
  background-color: white;
  height: 100%;
  overflow: hidden;
  position: relative;
  transition: 300ms;
  cursor: pointer;
}

.media:hover {
  filter: brightness(115%);
}

.media-caption {
  text-overflow: ellipsis;
  position: absolute;
  bottom: 0;
  padding: 15px;
  background-color: black;
  color: white;
  opacity: 0.6;
  width: 100%;
  height: 20%;
  font-size: 21px;
  font-weight: 200;
  transition: 300ms;
  cursor: pointer;
}

.media-caption:hover {
  opacity: 0.8;
}

.banner-grid {
  height: 100%;
  position: relative;
}

.content {
  color: white;
  background-color: rgb(119, 24, 24);
  height: 100%;
  position: relative;
  cursor: pointer;
  padding: 30px;
  transition: 300ms;
}

.content:hover {
  background-color: rgb(87, 17, 17);
}

.content:active {
  background-color: rgb(87, 17, 17);
}

.title {
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.caption {
  margin-top: 10px;
  font-size: 18px;
  color: white;
}

.view-button {
  margin-top: 40px;
  color: white;
  font-size: 25px;
  border: 3px solid white;
  text-transform: capitalize;
  transition: 200ms;
}

.view-button:hover {
  background-color: rgb(241, 241, 241);
  color: rgb(119, 24, 24);
}

.view-button:active {
  background-color: rgb(241, 241, 241);
  color: rgb(119, 24, 24);
}
